numpy
pillow
accelerate==1.1.1
diffusers==0.31.0
matplotlib==3.9.2
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
peft==0.13.2
inflect==6.0.4
scipy==1.14.1
sentence-transformers==3.3.1
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tqdm==4.67.1
transformers==4.46.3
